.carousel {
  display: flex;
  gap: 1rem;

  .prevButton,
  .nextButton {
    height: 340px;
    border-width: 0;
    background-color: transparent;
    color: var(--color-green);
    cursor: pointer;
    padding: 0;
    display: none;
  }

  .carouselInner {
    display: flex;
    gap: 2rem;
    height: 100%;
    overflow-x: auto;
    padding: .5rem .5rem 1rem;
    scroll-behavior: smooth;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .carousel {
    margin: 0 -3.5rem;

    .prevButton,
    .nextButton {
      display: block;
    }

    .carouselInner {
      overflow-x: hidden;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

